
.profile-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 100%;
    height: 100%;
    /* background-color: #f4e8e8; */
    padding: 10px;
    border-radius: 5px;
    box-shadow: #820467 0px 1px, rgba(240, 46, 170, 0.3) 0px 2px, rgba(240, 46, 170, 0.2) 0px 3px, rgba(240, 46, 170, 0.1) 0px 4px, rgba(240, 46, 170, 0.05) 0px 5px;
    
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 100%;
    height: 100%;
    
    
    
}
